.grid-item { width: 27%; margin: 2px; padding: 5px; border: 1px solid#202020; }
.grid-item h2, .grid-item a { color: #eca634 }
.grid-item  p { color: #434746 }
.mibg{  border-radius: 50%;display: block; width: 24px; height: 24px; padding: 5px; background: #49806d; margin: 5px 0; } 
.flaticon { font-size: 24px; color: rgba(255, 255, 255, 1); }
.miwrap{ position: absolute; top: 10px;right: 10px; margin: 10px 0;}
.youtubeicon{ position: absolute; top: 100px;left: 10px; margin: 10px 0; border-radius: 50%;display: block; width: 70px; height: 70px;background: #eca634}
.text-white{ font-size: 16px; color: rgba(255, 255, 255, 1); margin-left: 10px;display: inline-block;}
.youtubeicon .flaticon{ top: 10px; margin-top: 10px; position: relative; margin-left: 20px; }